* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 10px;
}

#searchInput {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
}

#searchButton {
  padding: 10px 20px;
  background-color: #0d90e7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchButton:hover {
  background-color: #fff133;
  color: black;
}

#newsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.newsArticle {
  width: 300px;
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* overflow: hidden; */
  height: 100%;
}

.newsArticle img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.newsArticle h2 {
  font-size: 1.2rem;
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

.newsArticle p {
  padding: 0 10px 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.newsArticle a {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #818080;
  color: white;
  text-decoration: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Pacifico', cursive;
}

.newsArticle a:hover {
  background-color: #36f184;
  color: black;
}
